@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-user:before {
    content: "\e008";
}

.glyphicon-lock:before {
    content: "\e033";
}

.glyphicon-home:before {
    content: "\e021"
}

.w90 {
    width: 90px;
    float: left;
}

.mr20 {
    margin-right: 20px;
}

.glyphicon-file::before {
    content: "\e022";
}

.glyphicon-cog::before {
    content: "\e019";
}

.glyphicon-list::before {
    content: "\e032";
}

.glyphicon-time::before {
    content: "\e023"
}